@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Footer Twitter link color */
    --color-1: #ee7344;
    /* Container background color */
    --color-2: #e8ded2;
    /* Body background color */
    --color-3: #776d8a;
    /* Color of title */
    --color-4: #2b2c48;
    /* Default font color */
    --color-5: #212241;
    /* Page underline color */
    --color-6: #1d9bf0;
    /* Hover background color */
    --color-7: rgba(15, 20, 25, 0.1);
  }
}
